.projects-section {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  align-items: stretch;
}

.card {
  border-radius: 10px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: 0.7em;
  width: 100%;
  position: relative;
  border: 3px solid var(--secondaryColor);
  background: var(--mainColor);
}

.right {
  flex-direction: row-reverse;
}

.project-number-btn {
  position: absolute;
  height: 1.6em;
  width: 1.6em;
  border-radius: 100%;
  z-index: 15;
  font-size: 2.6rem;
  font-size: 600;
  border: 4px solid var(--mainColor);
  color: var(--mainColor);
  background-color: var(--secondaryColor);
  top: -.6em;
  left: -.6em;
}

.card-top {
  display: flex;
  width: 100%;
}

.card-image {
  display: flex;
  justify-content: center;
  width: 50%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.card-content {
  padding: 1rem 1rem 0 1.7rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}

.card-title {
  color: var(--secondaryColor);
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0.5rem;
  text-align: center;
}

.content-bottom {
  position: relative;
}

.card-buttons {
  gap: 0.5rem;
  display: flex;
}

.card-btn {
  box-shadow: 0 4px 8px 0 rgba(31, 38, 135, 0.2);
  border-radius: 4px;
  border: 2px solid var(--secondaryColor);
  padding: 0.3rem;
  width: 14rem;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondaryColor);
  transition: all 0.2s ease-in-out;
  margin: 1rem auto;
  text-decoration: none;
  text-align: center;
}

.card-btn-video {
  display: block;
  text-align: center;
  padding-top: 0.5rem;
  text-decoration: none;
  color: var(--secondaryColor);
  font-family: var(--fontText);
  font-weight: 800;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto;
  font-size: 0.85rem;
}

.card-btn:hover {
  box-shadow: 0 20px 40px rgba(61, 65, 84, 0.25);
  top: -2px;
  background: var(--secondaryColor);
  color: white;
}

.project-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  margin: 0;
  object-fit: cover;
  object-position: top center;
  transition: all 3s ease-in-out;
}

.card-image:hover img {
  object-position: bottom center;
}

.tall {
  transition: all 12s ease-in-out;
}

/* -------- Mobile ------- */

@media screen and (max-width: 940px) {

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 47%;
  }

  .card-top {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content-top {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-image {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    height: 250px;
  }

  .card-content {
    display: flex;
    padding: 1rem 1rem 0 1rem;
    flex-direction: column;
    width: 100%;
    height: 70%;
  }

  .content-bottom {
    display: inline;
    margin-top: auto;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .cards {
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
  }

  .card-content {
    height: fit-content;
  }
}

/* ------ Modal Video -------- */


.modal-wrapper {
  position: fixed;
  top: 80%;
  left: 50%;
  z-index: 200;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.modal {
  background: var(--mainColor);
  position: relative;
  margin: auto;
  overflow: hidden;
  padding: 2em;
  max-width: 900px;
}

.modal-close-btn.video {
  top: -0.8em;
  left: 0.7em;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  height: 0;
}

/* ------ Youtube Embed -------- */

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}