:root {
    --clr-background: radial-gradient(circle at 49% 46%,rgba(149,176,241,0.51), rgba(174, 192, 235, 0) 50%), radial-gradient(circle at 10% 10%,rgba(241, 189, 134, 0.758), rgba(240,173,103,0) 50%), radial-gradient(circle at 90% 10%,rgba(183, 150, 255, 0.631), rgba(184,150,255,0) 50%), radial-gradient(circle at 90% 90%,rgba(81, 136, 191, 0.69), rgba(47,168,178,0) 50%), radial-gradient(circle at 10% 90%,rgba(142, 106, 196, 0.5), rgba(168,112,253,0) 50%);
    --clr-line: rgba(255, 255, 255, 0.65);
    --clr-text: rgba(0, 0, 0, 0.77); 
    --clr-orange: rgba(220, 129, 32, 0.908);  
    --clr-resume-accents: rgb(104, 138, 193);
    --clr-white: rgb(255, 255, 255);
    --font-patrick: 'Patrick Hand SC', cursive;
    --font-resume: arial; 
    --fontfp: 'Montserrat Alternates', sans-serif;
  }


* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

html, body {
  background: var(--clr-background);
  font-family: var(--fontfp);
  overflow-x: hidden;
}

/*--------------
TYPOGRAPHY
-----------------*/ 

h2 {
  padding-top: 120px;
  padding-bottom: 60px;
  color: black;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.10em;
}

/*--------------
Skewed line
-----------------*/ 

.chevron {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 13px;
  opacity: 0.7;
  color: var(--clr-line);
  transform: scale3d(1, 0.5, 1);
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  height: 100%;
  background: rgb(255, 255, 255);
}

.chevron:before {
  left: 0;
  width: 50%;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

/*--------------
Nav
-----------------*/ 

.container-navbar {
  display: flex;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0px;
  z-index: 11;       
  justify-content: space-around;
  align-items: center;
  border-bottom: 4px solid var(--clr-line);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(196, 196, 196, 0.128);
}

.logo-text {
  color: var(--clr-text);
  font-family: var(--font-patrick);
  font-size: 22px; 
  letter-spacing: 3px;
  width: 40%; 
  text-decoration: none; 
  margin: 0px 30px;
  white-space: nowrap;
  text-transform: uppercase;
 }

 .nav-links {
  display: flex;
  width: 40%;
  justify-content: space-around;
 }

 .nav-links li {
  list-style: none;
 }

 .nav-links a {
  color: var(--clr-text);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 18px;
  transition: all .2s ease;
 }

 .nav-links a:hover {
  border-bottom: 3px solid var(--clr-white);
  padding-bottom: 4px;
 }

/*--------------
Home section
-----------------*/ 

.home-section {
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 150px;
    min-height: 50vh;
}

.intro {
    font-size: 25px;
    padding: 20px;
    font-weight: 300;
}

.intro-text {
  color: var(--clr-white);
  font-family: var(--font-patrick);
  font-size: 25px;
  text-transform: uppercase;
}

h3 span.intro-bounce {
    display: flex;
    font-size: 40px;
    padding: 0px 0 38px 0;
    color: var(--clr-white)
;    font-family: var(--font-patrick);
}

.container-bounce {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 380px;
    height: 50px;
    justify-content: center;
    padding: 50px;
  }

  .container-bounce span {
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    -webkit-animation: rotate-word 12.5s linear infinite;
            animation: rotate-word 12.5s linear infinite;
  }
  
  .container-bounce span:nth-child(2) {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  
  .container-bounce span:nth-child(3) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  
  .container-bounce span:nth-child(4) {
    -webkit-animation-delay: 7.5s;
            animation-delay: 7.5s;
  }
  
  .container-bounce span:nth-child(5) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
  }

  @-webkit-keyframes rotate-word {
    0% {
      opacity: 0;
    }
    1% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    4% {
      opacity: 0;
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    19% {
      opacity: 0;
    }
    20% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes rotate-word {
    0% {
      opacity: 0;
    }
    1% {
      -webkit-transform: translateX(-30px);
              transform: translateY(-30px);
    }
    4% {
      opacity: 0.1;
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    28% {
      opacity: 0;
    }
    29% {
      -webkit-transform: translateY(-150px) scale(2, 4);
              transform: translateY(-150px) scale(2, 4);
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

.profile-img {
  top: -30px;
  position: relative;
  width: 200px; 
  border-radius: 50%;
  border: 5px solid var(--clr-line);
  box-shadow: 0 14px 13px 3px rgba(0, 0, 0, 0.2);
  -webkit-animation: bounce 2.5s ease infinite;
  animation: bounce 2.5s ease infinite;
}

@-webkit-keyframes bounce {
10% {
    -webkit-transform: translateY(0px) scale(1,1);
    transform: translateY(0px) scale(1,1);
    }
75% {
    -webkit-transform: translateY(90px) scale(1.03,.97);
    transform: translateY(90px) scale(1.03,.97);
    }
100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    }
}

/*--------------
About me
-----------------*/ 

.container-aboutme {
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.aboutme-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.aboutme-text {
    text-align: left;   
    width: 60%;
    line-height: 1.4em;
    font-size: 1.1em;
}

/*------------------- RESUME MODAL */
.modal {
    display: none; 
    position: fixed;
    z-index: 999; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(8px);
     -webkit-backdrop-filter: blur(8px);
    animation: fadeIn 1s 1;
  }

/*------------------- RESUME Close Button */

.close {
  color: var(--clr-resume-accents);
  float: right;
  top: -20px;
  position: relative;
  font-size: 4em;
}
  
.close:hover,
.close:focus {
  color: var(--clr-text);
  text-decoration: none;
  cursor: pointer;
  } 

/*------------------RESUME Content */

.modal-content {
  background-color: #fefefe;
  margin: 30px auto;
  padding: 20px;
  border-radius: 4px;
  width: 70%;
  box-shadow: 0 3px 6px rgba(8, 33, 30, 0.2);
  font-family: 'Montserrat', sans-serif;
}
  
.resume-content {
  width: 90%;
  margin: auto;
  text-align: left;
  color: var(--clr-text);
  font-size: 1em;
}

p.resume-h1 {
  font-size: 1.8em;
  color: black;
  text-align: center;
  font-weight: 700;
  padding: 15px;
  font-weight: 700;
  color: var(--clr-resume-accents);
}

p.resume-h2 {
  font-size: 26px;
  font-weight: 300;
}

p.resume {
  padding: 5px;
}

table {
  width: 70%;
}

hr.resume {
  border-top: 3px solid var(--clr-resume-accents);
  margin: 22px;
  }

.div-resume-flex {
  display: flex;
}

.div-resume-edu {
  width: 50%;
}

.div-resume-skills{
  width: 50%;
}

.div-resume-skills > table td {
  padding: 5px;
}

.table-personality {
  margin: 0 0 0 40px;
}

.table-languages {
  margin: 0 0 0 57px;
}

/*------------------RESUME buttons inside modal */

.button-resume {
cursor: pointer;
border-radius: 4px;
margin: 4px;
padding: 8px;
font-size: 15px;
outline: none;
width: 230px;
letter-spacing: 1.8px;
text-decoration: none;
border: 3px solid var(--clr-resume-accents);
color: var(--clr-text);
}

.button-resume:hover {
  filter: opacity(0.6);
  -webkit-filter: opacity(0.6);  
}

.button-resume .fa {
    padding: 0 10px;
}

.resume-buttons {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
}

  /*keyframe for modal animation*/
  @keyframes fadeIn {
      0% {opacity: 0}
      10% {opacity: 0.1}
      20% {opacity: 0.2}
      30% {opacity: 0.3}
      40% {opacity: 0.4}
      50% {opacity: 0.5}
      60% {opacity: 0.6}
      70% {opacity: 0.7}
      80% {opacity: 0.8}
      90% {opacity: 0.9}
      100% {opacity: 1}
  }

  /*------------------VIEW RESUME button */

#btn-resume {
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(31, 38, 135, 0.2);
  border-radius: 4px;
  margin-top: 70px;
  margin-bottom: 20px;
  padding: 9px;
  font-size: 17px;
  outline: none;
  letter-spacing: 1.8px;
  text-decoration: none;
  border: 2px solid var(--clr-line);
  background: rgba(255, 255, 255, .1);
  font-family: var(--fontfp);
  font-weight: 500;
  color: var(--clr-text);
}


#btn-resume:hover {
  filter: opacity(0.6);
  -webkit-filter: opacity(0.6);  
}

#btn-resume:active {
  transform: scale(.90);
}

/*--------------
Experience 
-----------------*/ 

.container-experience {
    position: relative;
    text-align: center;
}

.container-projects {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
width: 500px;
display: flex;
flex-wrap: wrap;
border-radius: 4px;
box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
margin: 30px;
transition: all .2s ease;
}

.project:hover {
	transform: translateY(-10px);
		box-shadow: 0 4px 25px 0 rgba(0,0,0,.3), 0 0 1px 0 rgba(0,0,0,.25);
}

.project-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  object-fit: cover;
  object-position: 50% 0%;
}

.container-image:hover .overlay {
  opacity: 1;
  transform: scale(1);
}

.btn-project {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  box-shadow: 0 4px 8px 0 rgba(31, 38, 135, 0.2);
  border-radius: 4px;
  padding: 9px;
  font-size: 20px;
  outline: none;
  letter-spacing: 1.8px;
  text-decoration: none;
  border: 2px solid black;
  background: rgb(255, 255, 255);
  color: black;
  filter: opacity(0.6);
-webkit-filter: opacity(0.6);  
}

.btn-project:hover {
filter: opacity(1);
-webkit-filter: opacity(1);  
}

.overlay{
  position: absolute;
  background: #7996cf3e;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(1.3);
  opacity: 0;
  transition: transform .4s ease 0s;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.overlay span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coming-soon {
opacity: 0.7;
}

.img-coming-soon {
pointer-events: none;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}

.container-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.project-description {
  width: 100%;
  padding: 10px;
  height: 120px;
}

.project-title {
  padding: 10px;
}

.project-tech {
  display: flex;
  padding: 10px;
  border-top: 3px solid var(--clr-line);
  width: 100%;
}

.thumbnail-img {
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.js {
  width: 24px;
  margin-top: 2px;
}

div.hoverbubble {
  position: relative;
  text-decoration: none;
  width: 40px;
  height: 30px;
}

div.hoverbubble span {display: none;}
div.hoverbubble:hover span {
	display: block;
	position: absolute;
  content: "";
	padding: 8px;
	text-align: center;
	white-space: nowrap;
	top: -45px;
	background: rgba(0, 0, 0, 0.767);
	border-radius: 8px;
	color: #fff;
  font-size: 13px;
}
div.hoverbubble:hover span:after {
	position: absolute;
	display: block;
	content: "";
	border-color: rgba(0, 0, 0, 0.767) transparent transparent transparent;
	border-style: solid;
	border-width: 10px;
	position: absolute;
	bottom: -20px;
	left: 15px;
}

.container {
  position: relative;
  width: 100%;
  height: 100px;
}

/*--------------
SKILLS 
---------------*/ 

.skills{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.skills .percent{
  position: relative;
  width: 130px;
  height: 130px;
  margin: 20px;
}


.skills .percent svg {
  width: 130px;
  height: 130px;
}

.skills .percent svg circle{
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 6;
  stroke:var(--clr-line);
  transform: translate(5px, 5px);
  stroke-dasharray: 377;   /* radius circle is 60 so (2*PI*60) = length dasharray */
  stroke-dashoffset: 377; 
  stroke-linecap: round;
}

.skills .percent svg circle:nth-child(1){
  stroke-dashoffset: 0;
  stroke: var(--clr-line);
}

.skills .percent svg circle:nth-child(2){
  stroke: var(--clr-orange);
}

.skill {
  position: absolute;
  top: 1%;
  left: 18%;
  width: 65px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo span {
  display: none;
}

.logo:hover span {
	display: block;
	position: absolute;
  content: "";
	padding: 7px;
	text-align: center;
	white-space: nowrap;
	top: -15px;
  left: 40px;
	background: rgba(0, 0, 0, 0.767);
	border-radius: 8px;
	color: #fff;
  font-size: 13px;
}
.logo:hover span:after {
	position: absolute;
	display: block;
	content: "";
	border-color: rgba(0, 0, 0, 0.767) transparent transparent transparent;
	border-style: solid;
	border-width: 10px;
	position: absolute;
	bottom: -20px;
	left: 13px;
}
/* SKILL percentages */ 

.html-circle {
  stroke-dashoffset:calc(377 - (377 * 90) / 100) !important;
}
.css-circle {
  stroke-dashoffset:calc(377 - (377 * 80) / 100) !important;
}
.js-circle {
  stroke-dashoffset:calc(377 - (377 * 60) / 100) !important;
}
.react-circle {
  stroke-dashoffset:calc(377 - (377 * 5) / 100) !important;
}

/*--------------
Contact
-----------------*/ 

.container-contact {
  position: relative;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.container-contact:before {
  content: ' ';
  background-image: url("images/stars.png");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.info {
  position: relative;
}

p {
  color: black;
}

.required {
  display: inline-block;
  color: rgb(211, 146, 26);
  font-size: 20px;
  height: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 2px;
}

.btn-email {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  box-shadow: 0 4px 8px 0 rgba(31, 38, 135, 0.2);
  border-radius: 4px;
  margin-top: 30px;
  padding: 9px;
  font-size: 1.1rem;
  outline: none;
  letter-spacing: 1.8px;
  text-decoration: none;
  border: 2px solid var(--clr-text);
  background: rgba(255, 255, 255, .1);
}

.btn-email:hover {
  background-color: rgba(19, 29, 54, 0.2);
  color: var(--clr-orange);
}

form {
  position: relative;
  padding: 1.3rem 2.2rem;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0rem 18rem 2rem 18rem;
}

.input-container {
  position: relative;
  margin: 1.2rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid var(--clr-line);
  background: none;
  padding: 0.6rem 1.2rem;
  color: var(--clr-text);
  font-size: 1.2rem;
  font-weight: 350;
  letter-spacing: 0.6px;
  border-radius: 4px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 160px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0 0.4rem;
  color: var(--clr-text);
  font-size: 1.2rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 10;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn-send {
  display: inline-block;
  width: 200px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(31, 38, 135, 0.2);
  border-radius: 4px;
  padding: 9px;
  font-size: 17px;
  outline: none;
  letter-spacing: 1.8px;
  text-decoration: none;
  border: 2px solid var(--clr-line);
  background: rgba(255, 255, 255, .1);
  font-weight: 500;
}

.btn-send:hover {
  filter: opacity(0.6);
  -webkit-filter: opacity(0.6);  
}

.btn-send:active {
  transform: scale(.90);
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 9;
}

.input-container span:before,
.input-container span:after {
  content: " ";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: .3s;
  height: 5px;
  background-color: rgb(104, 138, 193);
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 1rem;
  color: rgb(211, 146, 26);
}

.input-container.focus span:before, 
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.touch-content {
  line-height: 1.5em;
  font-size: 1.2em;
}

/*--------------
Footer
-----------------*/ 

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.div-social {
  position: relative;
  padding-top: 70px;
  width: 260px;
  margin: 0 auto;
}

.div-social-buttons {
  position: absolute;
  z-index: 10;
}

.div-social ul {
  display: flex;
  flex-wrap: nowrap;
  
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0.5;
  justify-content: space-around;
  width: 260px;
}

.div-social ul li {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 20px;
}

.social-icons a {
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 32px;
}

.social-icons a:hover {
    font-size: 38px;
}

.div-social ul li:nth-child(1) a:hover {
  color: white;
}
.div-social ul li:nth-child(2) a:hover {
  color: white;
}
.div-social ul li:nth-child(3) a:hover {
  color: #f46f30;
}
.div-social ul li:nth-child(4) a:hover {
  color: #0a66c2;
}

.copyright {
  position: relative;
  padding-top: 80px;
  padding-bottom: 5px;
  font-size: 15px;
}

/*--------------
Burger
-----------------*/ 

.burger {
    display: none;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: var(--clr-text);
    margin: 5px;
    transition: all 0.3s ease;
}

/*--------------
MEDIA QUERIES MAX. 1283PX
-----------------*/ 

@media screen and (max-width:1283px) {
  .nav-links {
    width: 50%;
  }

/* MOBILE VERSION RESUME */
  .modal-content {
  margin: 30px auto;
  padding: 20px;
  width: 95%;
}
  
  .resume-content {
    width: 95%;
    margin: auto;
    text-align: left;
    color: black;
  }

  table {
     width: 100%;
  }

  form {
    margin: 0rem 10rem 2rem 10rem;
  }

}

/*--------------
MEDIA QUERIES MAX.768PX
-----------------*/ 
@media screen and (max-width:768px) {

  /* BURGER MENU LINKS */

  .nav-links {
    position: absolute;
    right: 0px;
    top: 9.95vh;
    height: 30vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    outline: none;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active{
    transform: translateX(0%);
  }

  @keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* ABOUT ME */

  .aboutme-text {
    width: 90%;
    text-align: center;
  }

  /* CONTACT */

  form {
    margin: 0rem 0rem 0rem 0rem;
  }

  /* MOBILE VERSION RESUME 768PX */
  .modal-content {
    margin: -50px auto 20px auto;
    padding: 10px;
    width: 95%;
  }
  
  .resume-content {
    width: 98%;
    margin: auto;
    text-align: left;
    color: black;
    font-size: .9em;
  }

  p.resume-h2 {
    font-size: 1.5em;
    color: black;
    font-weight: 300;
  }

  p.resume {
    padding: 0px;
    color: black;
  }

  .resume-h2 {
    padding: 15px;
  }

  table {
    width: 100%;
  }

  hr.resume {
    margin: 15px;
  }

  .div-resume-flex {
    display: block;
  }

  .div-resume-edu {
    width: 100%;
  }

  .div-resume-skills{
    width: 100%;
  }

  .table-personality {
    margin: 10px 0 0 0px;
  }

  .table-languages {
    margin: 15px 0 0 0px;
  }

  .button-resume a {
    color: black;
  } 

  .button-resume .fa {
    padding: 0 5px;
  }

  .resume-buttons {
   flex-direction: column;
   align-items: center;
  }
}


@media (hover: none) {

  .overlay{
    opacity: 1;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background: #7996cf19;
  }
  
  .btn-project {
    box-shadow: 0 4px 8px 0 rgba(31, 38, 135, 0.2);
    padding: 6px;
    font-size: 13px;
    filter: opacity(1);
    -webkit-filter: opacity(1);  
  }

  .coming-soon {
    opacity: 0.5;
    }
    
}


